.btn {
  margin-top: 0.6rem;
  font-weight: 600;
  color: #28422c;
}
.btnBurger {
  margin-top: 5px;
}
.btnOrange {
  background-color: #fc7d13;
  width: 6.8rem;
  height: 3rem;
  margin: auto;
  color: white;
  border-radius: 100px;
  font-weight: 700;
}
.btnCategory {
}
.btnSearch {
}
.btnIcon {
  background-color: #fc7d13;
  margin: auto;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  @media (max-width: 640px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.btnArrow {
}
.btnAddtoStore {
}
